<section class="genres" [ngClass]="genre().id">
    <h3 class="text-h3-silver">
        {{genre().value}}
        <span class="highlight-line highlight-line--low" [ngClass]="genre().id"></span>
    </h3>
</section>

<div class="books-genre">
    @if(genre().books.length === 0) {
        <div class="text-empty-books">
            <img src="sem-livros.png" alt="Sem livros neste gênero">
            <p>Não há livros neste gênero ainda</p>
        </div>
    }
    @else {
        @for (book of genre().books; track book) {
            <app-book [book]="book"></app-book>
        }  
    }    
</div>