.genres {
    display: flex;
    flex-direction: column;
    padding: 48px 160px;
}

.books-genre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.highlight-line--low {
    width: 32px;
}

.text-h3-silver {
    font-family: var(--font-prata);
    font-size: 28px;
    font-weight: var(--font-weight-normal);
    line-height: 38px;
    text-align: center;
}

.text-empty-books img {
    width: 120px;
    margin-top: 8px;
    opacity: 0.8;
}

.text-empty-books {
    text-align: center;
    margin-top: 16px;
    color: #3b3b3b;
    font-size: 20px;
}