.genres {
    display: flex;
    flex-direction: column;
    padding: 48px 160px;
}

.books-genre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.highlight-line--low {
    width: 32px;
}

.text-h3-silver {
    font-family: var(--font-prata);
    font-size: 28px;
    font-weight: var(--font-weight-normal);
    line-height: 38px;
    text-align: center;
}

.text-empty-books img {
    width: 120px;
    margin-top: 8px;
    opacity: 0.8;
}

.text-empty-books {
    text-align: center;
    margin-top: 16px;
    color: #3b3b3b;
    font-size: 20px;
}

.romance {
    background-color: #E8FFFF;
}

.genres .romance {
    border-bottom: 4px solid #82CFFA;
}

.misterio {
    background-color: #E9FFE3;
}

.genres .misterio {
    border-bottom: 4px solid #A6D157;
}

.fantasia {
    background-color: #FFE3E3;
}

.genres .fantasia {
    border-bottom: 4px solid #E06B69;
}

.ficcao-cientifica {
    background-color: #FFF0FA;
}

.genres .ficcao-cientifica {
    border-bottom: 4px solid #DB6EBF;
}

.tecnicos {
    background-color: #FFF1E4;
}

.genres .tecnicos {
    border-bottom: 4px solid #FF8A29;
}