/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-prata: 'Prata', serif;
  --primary-color: #6278F7;
  --second-color: #2E2E2E;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}  